*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#drawingPanel{
   
    width: 100vh;
    height: 60vh;
    
}
div.panel{
    margin-left: 10px;
    margin-top: 50px;
    width: 101vh;
    height: 61vh;
    border:solid red;
}
#drawList{
    list-style-type: none;
}

.Paining{
    position: relative;
    display: inline;

}
.useless{
    display: none;
}

button.clicked{
    background-color:blue;
}